<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b2427425-a35c-440e-af0a-bcadc1d02c25" Alias="article" Level="1">
  <Info>
    <Name>Article</Name>
    <Icon>icon-newspaper-alt color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="63ee7a97-89fe-4cd6-89e6-791b32f7ba1c">articleControls</Composition>
      <Composition Key="d4b72172-7d31-4a00-9c25-933f711bfccb">contentControls</Composition>
      <Composition Key="fa8a2aa8-be71-4ee8-a384-51599d554171">metaDataControls</Composition>
      <Composition Key="75873a8b-a267-4ed9-bd29-5b2da9836ff2">navigationControls</Composition>
      <Composition Key="f2240a40-365e-455f-b4a8-07eab54f7aa6">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Article</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="37f59deb-02c5-490e-a247-e8e0913e585c">Article</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>