<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6e6c1b45-cb4f-4ba8-9c27-3f157a5a9485" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="a2204bf5-c2d4-49fa-ba29-f39abcbcedd8">carouselControls</Composition>
      <Composition Key="899424a2-f952-4c5b-89ce-d8299ed46448">footerContentControls</Composition>
      <Composition Key="7df8bc0c-2995-4877-a5f7-5fbe431e5a2b">latestArticlesControls</Composition>
      <Composition Key="fa8a2aa8-be71-4ee8-a384-51599d554171">metaDataControls</Composition>
      <Composition Key="75873a8b-a267-4ed9-bd29-5b2da9836ff2">navigationControls</Composition>
      <Composition Key="f2240a40-365e-455f-b4a8-07eab54f7aa6">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="95a30f3d-1d66-4176-8552-a7f395314b59">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="60396529-ca22-446a-afcd-0dd6e6263290" SortOrder="0">articleList</ContentType>
    <ContentType Key="70d56dea-d29c-47c4-bfeb-04abc5451b27" SortOrder="1">content</ContentType>
    <ContentType Key="ebe8993e-0c68-4ba1-a5b9-c83a623c4f07" SortOrder="2">prettyLink</ContentType>
    <ContentType Key="81e8804e-d678-44ba-b94a-85cdb4088d1c" SortOrder="3">search</ContentType>
    <ContentType Key="543375f1-afd7-4ef9-9bf0-dcd8ac597f6c" SortOrder="4">contact</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>