<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebe8993e-0c68-4ba1-a5b9-c83a623c4f07" Alias="prettyLink" Level="1">
  <Info>
    <Name>Pretty Link</Name>
    <Icon>icon-link color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="75873a8b-a267-4ed9-bd29-5b2da9836ff2">navigationControls</Composition>
      <Composition Key="05c4c184-d8d8-45e0-960f-7fd79f885177">prettyLinkControls</Composition>
      <Composition Key="f2240a40-365e-455f-b4a8-07eab54f7aa6">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>PrettyLink</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c886353c-f2fa-45a7-8584-882f11e0bbfe">PrettyLink</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ebe8993e-0c68-4ba1-a5b9-c83a623c4f07" SortOrder="0">prettyLink</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>