<?xml version="1.0" encoding="utf-8"?>
<Content Key="7da6f326-9aef-4b49-9444-86ca33f6bec3" Alias="Blog" Level="2">
  <Info>
    <Parent Key="a53c075a-61a2-456e-a73d-e65e52efea92">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleList</ContentType>
    <CreateDate>2021-11-12T21:28:28</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e4e0b443-4bb4-4482-962e-ec94cac5e10a">ArticleList</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[1]]></Value>
    </disableDropdown>
    <latestArticlesSubtitle>
      <Value><![CDATA[Here are some articles from the blog, you can use it as a blog or news. The articles are sorted by article date in descending order so the most recent ones show first.]]></Value>
    </latestArticlesSubtitle>
    <latestArticlesTitle>
      <Value><![CDATA[Latest from the blog]]></Value>
    </latestArticlesTitle>
    <metaDescription>
      <Value><![CDATA[Latest articles from the blog]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[["blog"]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>