<?xml version="1.0" encoding="utf-8"?>
<Content Key="ad8f8ac3-4a2f-43b4-a432-c1202a35ed48" Alias="Skrift" Level="3">
  <Info>
    <Parent Key="716c2cf1-e155-453b-a1dc-edac2e377941">Links</Parent>
    <Path>/Home/Links/Skrift</Path>
    <Trashed>false</Trashed>
    <ContentType>prettyLink</ContentType>
    <CreateDate>2021-11-12T21:28:28</CreateDate>
    <NodeName Default="Skrift" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c886353c-f2fa-45a7-8584-882f11e0bbfe">PrettyLink</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <linkTarget>
      <Value><![CDATA[[{"name":"Skrift Magazine","target":"_blank","url":"https://skrift.io/"}]]]></Value>
    </linkTarget>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>