<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fb356db-a019-4d42-8545-06bea1f04174" Alias="umbraCoffee" Level="3">
  <Info>
    <Parent Key="716c2cf1-e155-453b-a1dc-edac2e377941">Links</Parent>
    <Path>/Home/Links/umbraCoffee</Path>
    <Trashed>false</Trashed>
    <ContentType>prettyLink</ContentType>
    <CreateDate>2021-11-12T21:28:29</CreateDate>
    <NodeName Default="umbraCoffee" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c886353c-f2fa-45a7-8584-882f11e0bbfe">PrettyLink</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <linkTarget>
      <Value><![CDATA[[{"name":"umbraCoffee","target":"_blank","url":"https://www.youtube.com/channel/UCF_Ene5-58a3Z55aw8O6Djg/"}]]]></Value>
    </linkTarget>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>