<?xml version="1.0" encoding="utf-8"?>
<Content Key="a53c075a-61a2-456e-a73d-e65e52efea92" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2021-11-12T21:28:28</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95a30f3d-1d66-4176-8552-a7f395314b59">Home</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <footerLinks>
      <Value><![CDATA[[{"name":"About","udi":"umb://document/67ab09ce31cf43b497ca1bc567376a42","queryString":""},{"name":"Our Umbraco","target":"_blank","url":"https://our.umbraco.com","queryString":""}]]]></Value>
    </footerLinks>
    <footerSocialLinks>
      <Value><![CDATA[[{"name":"facebook","target":"_blank","url":"https://www.facebook.com/codeshare.co.uk"},{"name":"linkedin","target":"_blank","url":"https://www.linkedin.com/in/paul-seal-3064892"},{"name":"twitter","target":"_blank","url":"https://www.twitter.com/CodeSharePaul"},{"name":"youtube-play","target":"_blank","url":"https://www.youtube.com/user/pcHelpFromPaul"}]]]></Value>
    </footerSocialLinks>
    <footerTitle>
      <Value><![CDATA[Codeshare]]></Value>
    </footerTitle>
    <latestArticlesSubtitle>
      <Value><![CDATA[Here are some articles from the blog, you can use it as a blog or news. The articles are sorted by article date in descending order so the most recent ones show first.]]></Value>
    </latestArticlesSubtitle>
    <latestArticlesTitle>
      <Value><![CDATA[Latest from the blog]]></Value>
    </latestArticlesTitle>
    <mainCarousel>
      <Value><![CDATA[[
  {
    "key": "2d49edd1-3d95-4903-b4f9-f848b28e6912",
    "name": "CodeShare Starter Kit",
    "ncContentTypeAlias": "carouselSlide",
    "slideTitle": "CodeShare Starter Kit",
    "slideSubtitle": "This starter kit has been made to help you learn how to use Umbraco. It was created by Paul Seal from codeshare.co.uk.",
    "slideImage": "umb://media/6c9e4f4e897848bb8d1efae497ab0294",
    "slideLink": "[{\"name\":\"Visit codeshare.co.uk\",\"target\":\"_blank\",\"url\":\"https://codeshare.co.uk\"}]"
  },
  {
    "key": "4e3e0542-6733-40aa-8dd8-46af70a24e3d",
    "name": "Navigation Menu",
    "ncContentTypeAlias": "carouselSlide",
    "slideTitle": "Navigation Menu",
    "slideSubtitle": "This website uses Bootstrap and is an example of how to create a navigation menu with dropdowns, based on the content of the site.",
    "slideImage": "umb://media/4a1f03b611cc410dbc8ad68128a9b19d",
    "slideLink": "[{\"name\":\"View source code\",\"target\":\"_blank\",\"url\":\"https://github.com/prjseal/CodeShare-Umbraco-Starter-Kit-for-v8/blob/master/src/CodeShare.Web/Views/Partials/SiteLayout/_MainNavigation.cshtml\"}]"
  },
  {
    "key": "6bdd3ba2-5982-4502-992d-f96c45b99bcd",
    "name": "Nested Content",
    "ncContentTypeAlias": "carouselSlide",
    "slideTitle": "Nested Content",
    "slideSubtitle": "This carousel slider has been built using Nested Content. It allows you to add multiple items to a single property.",
    "slideImage": "umb://media/f1aee13d514d4b28bfd42a7b8dbf686b",
    "slideLink": "[{\"name\":\"View Source Code\",\"target\":\"_blank\",\"url\":\"https://github.com/prjseal/CodeShare-Umbraco-Starter-Kit-for-v8/blob/master/src/CodeShare.Web/Views/Partials/Content/_MainCarousel.cshtml\",\"queryString\":\"\"}]"
  }
]]]></Value>
    </mainCarousel>
    <metaDescription>
      <Value><![CDATA[CodeShare starter kit for Umbraco by Paul Seal from codeshare.co.uk]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[["Codeshare","starter","kit","umbraco"]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>