<?xml version="1.0" encoding="utf-8"?>
<Content Key="eef6e12a-35ac-4057-9456-e22b87c42ce5" Alias="Pixelarity" Level="3">
  <Info>
    <Parent Key="716c2cf1-e155-453b-a1dc-edac2e377941">Links</Parent>
    <Path>/Home/Links/Pixelarity</Path>
    <Trashed>false</Trashed>
    <ContentType>prettyLink</ContentType>
    <CreateDate>2021-11-12T21:28:28</CreateDate>
    <NodeName Default="Pixelarity" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c886353c-f2fa-45a7-8584-882f11e0bbfe">PrettyLink</Template>
  </Info>
  <Properties>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <linkTarget>
      <Value><![CDATA[[{"name":"Pixelarity","target":"_blank","url":"https://codeshare.co.uk/pixelarity/"}]]]></Value>
    </linkTarget>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>