<?xml version="1.0" encoding="utf-8"?>
<Content Key="580d0738-ba3b-447c-8907-a3a04b6af3e3" Alias="Umbraco v9 is released" Level="3">
  <Info>
    <Parent Key="7da6f326-9aef-4b49-9444-86ca33f6bec3">Blog</Parent>
    <Path>/Home/Blog/UmbracoV9IsReleased</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2021-11-12T21:28:28</CreateDate>
    <NodeName Default="Umbraco v9 is released" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="37f59deb-02c5-490e-a247-e8e0913e585c">Article</Template>
  </Info>
  <Properties>
    <articleDate>
      <Value><![CDATA[2019-02-26T00:00:00]]></Value>
    </articleDate>
    <authorName>
      <Value><![CDATA[Paul Seal]]></Value>
    </authorName>
    <contentGrid>
      <Value><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": "12",
      "rows": [
        {
          "name": "Full width",
          "id": "016855e6-d7c1-5a01-8dcd-bd9c2c1ee772",
          "areas": [
            {
              "grid": "12",
              "controls": [
                {
                  "value": "<h2>Hurray</h2>\n<p>The new cleaner and faster version of Umbraco has now been released for everyone to use.</p>\n<h3><strong>What are the new features?</strong></h3>\n<ul>\n<li>Runs on .NET 5 (.NET Core)</li>\n<li>Runs on Windows, Mac, Linux etc</li>\n<li>History Cleanup</li>\n</ul>\n<p>You can find out more about the release of Umbraco v9 on the official Umbraco <a rel=\"noopener\" href=\"https://umbraco.com/blog/umbraco-9-release/\" target=\"_blank\">website</a>.</p>\n<p>If you want to know more about Umbraco v9 from a developer's perspective then check out this <a rel=\"noopener\" href=\"https://umbraco.com/blog/what-has-changed-from-umbraco-version-8-to-9/ges-for-developers/\" target=\"_blank\">blog post</a>.</p>",
                  "editor": {
                    "alias": "rte",
                    "view": "rte"
                  },
                  "styles": null,
                  "config": null
                }
              ],
              "styles": null,
              "config": null
            }
          ],
          "styles": null,
          "config": null
        }
      ]
    }
  ]
}]]></Value>
    </contentGrid>
    <disableDropdown>
      <Value><![CDATA[0]]></Value>
    </disableDropdown>
    <mainImage>
      <Value><![CDATA[umb://media/6c9e4f4e897848bb8d1efae497ab0294]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[Umbraco v8 is now released. Find out more about it here.]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[[]]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <textOnlyInNavigation>
      <Value><![CDATA[0]]></Value>
    </textOnlyInNavigation>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
  </Properties>
</Content>