<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a2204bf5-c2d4-49fa-ba29-f39abcbcedd8" Alias="carouselControls" Level="2">
  <Info>
    <Name>Carousel Controls</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f71bac50-29c3-4ff1-bcdb-75616f235cd0</Key>
      <Name>Main Carousel</Name>
      <Alias>mainCarousel</Alias>
      <Definition>450f3d88-3185-498d-8ee3-6e8a0ec09d50</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the items for the carousel]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Header</Caption>
      <SortOrder>-1</SortOrder>
      <Alias>header</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>