<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="70d56dea-d29c-47c4-bfeb-04abc5451b27" Alias="content" Level="1">
  <Info>
    <Name>Content</Name>
    <Icon>icon-document color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="d4b72172-7d31-4a00-9c25-933f711bfccb">contentControls</Composition>
      <Composition Key="fa8a2aa8-be71-4ee8-a384-51599d554171">metaDataControls</Composition>
      <Composition Key="75873a8b-a267-4ed9-bd29-5b2da9836ff2">navigationControls</Composition>
      <Composition Key="f2240a40-365e-455f-b4a8-07eab54f7aa6">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Content</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="33d712c4-5cfa-4242-adb3-5e512f90327b">Content</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>