<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81e8804e-d678-44ba-b94a-85cdb4088d1c" Alias="search" Level="1">
  <Info>
    <Name>Search</Name>
    <Icon>icon-search color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="fa8a2aa8-be71-4ee8-a384-51599d554171">metaDataControls</Composition>
      <Composition Key="75873a8b-a267-4ed9-bd29-5b2da9836ff2">navigationControls</Composition>
      <Composition Key="f2240a40-365e-455f-b4a8-07eab54f7aa6">umbracoUrlAliasControls</Composition>
    </Compositions>
    <DefaultTemplate>Search</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f4c1a214-d88d-43ff-8c8a-87d4f988ada9">Search</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>