@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Contact>

@using CSUSK.Core.Controllers.Surface
@using CSUSK.Core.Models.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{  
    Layout = "master.cshtml";
    var submitted = false;
    if (bool.TryParse(TempData["Success"]?.ToString() ?? "", out var success))
    {
        submitted = true;
    }
}

<article id="article-content">
    @if (submitted)
    {
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    @if (success)
                    {
                        <p>Thanks for contacting us. We will be in touch soon.</p>
                    }
                    else
                    {
                        <p>There was an error when trying to submit the form. Please try again later.</p>
                    }
                </div>
            </div>
        </div>
    }
</article>

@if (!submitted)
{
    <div class="contact-clean">
        <div id="form-outer">
                @await Component.InvokeAsync("Contact")
        </div>
        <div id="form-result"></div>
    </div>
}